@import "tailwindcss";

@theme {
  --color-blue: #143172 ;
  --color-opacity: rgba(0, 0, 0, 0.507);
  --color-gris-anthracite: #1f2937;
  --color-gris-sombre: rgba(94, 93, 93, 0.658);
  --color-flou : rgba(0, 0, 0, 0.493) ;

}
